---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$primary-color: rgb(0,0,0);
$secondary-color: rgb(0,0,0);
$highlight-color: rgb(0,0,0);

$primary-color: #efefef;
$secondary-color: #3A3A3A;
$tertiary-color: #1A1A1A;

@import "mixins", "layout", "type", "syntax-highlighting";

body {
  color: $tertiary-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-color;
  a { color: $secondary-color; }
}

body > header {
  background: $primary-color;
  color: $secondary-color;
}

a {
  color: $secondary-color;
  &:hover { color: $tertiary-color; }
}
