html {
  box-sizing: border-box;
  font-size: 25px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0em;
  padding: 0em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background: black;
  color: white;
}

h1 {
  padding: 1em;
  font-size: 20px;
  line-height: 1.618em;
  max-width: 1614px;
}

@media (min-width: 350px) {
  h1 {
    font-size: 26px;
    line-height: 1.618em;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 52px;
    line-height: 1.618em;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 72px;
    line-height: 1.618em;
  }
}

ul {
  list-style: none;
}
