html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

* {
  margin: 0em;
  padding: 0em;
}

ul { list-style: none; }

html {
  background: #3a7bd5;
  background: -webkit-linear-gradient(to bottom, #514A9D, #24C6DC);
  background: linear-gradient(to bottom, #514A9D, #24C6DC);
  min-height: 100%;
}

body {
  font-size: 18px;
  line-height: 1.618em;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255,255,255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
  line-height: 1.618em;
}

div.introduction {
  font-size: 23px;
  line-height: 1.618em;
  padding: 3em 1em 4em;
}

div.social {
  font-size: 20px;
}

div.social ul {
  display: flex;
  flex-direction: row;
}

div.social li {
  flex: 1;
  text-align: center;
  diplay:block;

}

div.social li a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

div.social li a:hover {
  color: white;
  text-decoration: underline;;

}

@media (min-width: 456px) and (max-width: 587px) {
  div.introduction { font-size: 27px; }
  div.social { font-size: 20px; }
}

@media (min-width: 588px) and (max-width: 637px) {
  div.introduction { font-size: 31px; }
}

@media (min-width: 588px) {
  div.social { font-size: 24px; }
}

@media (min-width: 638px) and (max-width: 914px) {
  div.introduction { font-size: 38px; }
}

@media (min-width: 915px) {
  div.introduction { font-size: 42px; }
}
