<header>
  <section class="full introduction">
    <p class="lead">Hi my name is <strong>Jonathan Goodman</strong> 😁. I'm currently living in
      Belfast and work for Texthelp in Antrim as a PHP developer.

      I graduated at Ulster University in 2013 with a degree in computer
      science and have experience building and testing PHP, Ruby and
      JavaScript apps.</p>

      <p class="lead-follow">In my spare time I do road cycling, mountain biking and running. I
        enjoy travelling and going to local gigs. I'm always keen to go to web
        events, conferences and meet up with fellow web developers.
        <a href="mailto:jonathanalbangoodman@gmail.com">Feel free to say hi
        anytime</a>.</p>
  </section>
</header>
