<header>
  <section class="full introduction">
    <p class="lead">Hi! I'm Jonathan Goodman and I currently work at Texthelp
    in Antrim as a PHP Developer. I graduated from Ulster University, Coleraine
    in 2013 with a degree in computing and have experience building Apps with
    Ruby, PHP and JavaScript.</p>
    <p class="lead-follow">In my spare time I do road cycling, mountain biking
    and running. I enjoy travelling and going to local gigs. I'm aways keen to
    attend web events, conferences and meet up with fellow developers. <a
      href="mailto:jonathanalbangoodman@gmail.com">Feel free to say hi
      anytime</a>.</p>
  </section>
</header>

