html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  margin: 0em;
  > * { padding: 2% 7% 0%; }

  @media all and (min-width: 504px) {
    > * { padding: 2% 14% 0%; }
  }
  padding-bottom: 3%;
}

body > header {

  padding: 7% 7%;

  @media all and (min-width: 504px) {
    padding: 9% 14%;
  }

  figure {
    display: none;
  }

  @media all and (min-width: 504px) {

    figure {
      display: block;
    }

  }

}

body > footer {

  padding-top: 3%;

  .links {
    display: -webkit-flex;

    li {
      text-align: center;
      -webkit-flex: 1;
    }
  }

}
