// mixins for layout

@mixin styles-above($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin styles-below($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin styles-between($min-width, $max-size) {
  @media screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

@mixin flex-rows() {
  display: -webkit-flex;
  -webkit-flex-flow: column;

  >* {
    padding: $column-padding;
  }
}

@mixin flex-columns($count) {
  display: -webkit-flex;
  -webkit-flex-flow: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  >* {
    padding: $row-padding;
    -webkit-flex: 1 percentage(1/$count);
  }
}
