@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600);

$line-height-ratio: 1.618;

html {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  @include styles-above(600px) {
    font-size: 16px;
  }

}

h1 {
  font-weight: 700;
}

h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}

$smallest-font-size: 0.875rem;
$small-font-size: 1rem;
$normal-font-size: 1.125rem;
$header-3-font-size: 1.3125rem;
$header-2-font-size: 1.5rem;
$header-1-font-size: 1.875rem;
$massive-font-size: 4.5rem;

@function adjust-line-height($new-font-size) {
  @return $new-font-size * $line-height-ratio;
}

body {
  font-size: $normal-font-size;
  line-height: adjust-line-height($normal-font-size);
}

hgroup a {
  text-decoration: none;
}

figure {

  span { display: block; }
  .bike.lightening { }

}

.full.introduction,
.short.introduction {

  @include styles-above(765px) {
    font-size: $header-3-font-size;
    line-height: adjust-line-height($header-3-font-size);
  }
}


h1 {
  font-size: $header-1-font-size;
  line-height: adjust-line-height($header-1-font-size);
}

h2 {
  font-size: $header-2-font-size;
  line-height: adjust-line-height($header-2-font-size);
}

h3 {
  font-size: $normal-font-size;
  line-height: adjust-line-height($normal-font-size);
  font-weight: normal;
}

header a {
  &:hover {
    border-bottom: 4px solid #c45bde;
  }
}

a {
  color: #507F64;
  text-decoration: none;
}

a:hover {
  color: #284032;
}

code {
  color: #143B28;
  padding: 1em 0em 0.3em;
  display: block;
}

article ul,
article ol {

  ul,
  ol {
    margin-top: 0.5em;
    li {
      margin-bottom: 0.3em;
    }

  }

}

hgroup h1 {
  margin: 0em;
}

hgroup p {
  margin-top: 0em;
}

.highlight {
  padding-top: .3em;
}

small, pre {
  font-size: $smallest-font-size;
  line-height: adjust-line-height($small-font-size);
}

article ul li,
article ol li {
  margin-bottom: 1em;
}

.introduction p:first-child {
  font-size: $header-2-font-size;
  line-height: adjust-line-height($header-2-font-size);
}

.introduction,
.post,
.page {

  p,
  ul,
  ol,
  blockquote {
    max-width: 806px;
  }

}

.introduction p:first-child {
  font-size: $header-2-font-size;
  line-height: adjust-line-height($header-2-font-size);
}

.post,
.page {

  p:first-child {
    font-size: $header-3-font-size;
    line-height: adjust-line-height($header-3-font-size);
  }

}

ul.current.work,
ul.recent.posts,
footer .links {

  list-style: none;
  padding-left: 0em;

  li {

    > a {
      font-size: $header-2-font-size;
      line-height: adjust-line-height($header-2-font-size);
    }

  }
}
